.form {
  &__input {
    background-color: rgb(14, 145, 14);
    border: none;
    box-shadow: 25px rgba(0,0,0,.1);
    color: white;
    margin-top: 3rem;
    width:100%;
    height: 5rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    border-radius: 10px;
    font-family: 'Permanent Marker', cursive;

    &::placeholder {
      color : rgba(255, 255, 255, .5);
      padding-left: 1rem;
    }
    &:focus{
      background-color: yellowgreen;
    }
  }
}
