.tasks__task {

  background-color: #eee;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin:1rem 0;
  height: 3rem;
  line-height: 3rem;

  &--done {
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin:1rem 0;
    height: 3rem;
    line-height: 3rem;
    background: darkgray;

    & label {
      text-decoration: line-through;
    }
  }
}
label {
  margin-left: 1rem;
}
li {
  display: flex;
  justify-content: space-between;
}
.li__button{
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
button {
  margin-right: 0.5rem;
}
