.tasks__task {

  background-color: #eee;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin:1rem 0;
  height: 3rem;
  line-height: 3rem;

  &--done {
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin:1rem 0;
    height: 3rem;
    line-height: 3rem;
    opacity: 0.5;

    & label {
      text-decoration: line-through;
    }
  }
}
label {
  margin-left: 1rem;
}
